.cm-editor {
  @apply w-full cursor-text font-mono;
}

.cm-editor.cm-editor.cm-focused {
  @apply outline-none;
}

.cm-editor .cm-content {
  /* Hide the native cursor */
  @apply fine:[caret-color:transparent];
  width: 100%;
  padding: 0;
  white-space: pre-wrap;
  word-break: break-word;
  flex-shrink: 1;
}

.cm-editor .cm-line {
  padding: 0;
  white-space: break-spaces;
}

.cm-editor .cm-scroller {
  @apply leading-6;
  font-family: unset;
}

.cm-editor .cm-cursor {
  border-left-width: 2px;
  margin-left: 0px;
}

.cm-editor .cm-fat-cursor {
  @apply bg-border-focus !text-bg;
}

/* Hide the cursor when the editor is not focused */
.cm-editor:not(.cm-focused) .cm-fat-cursor {
  @apply hidden;
}

.cm-editor .cm-panels {
  @apply bg-bg-secondary text-text;
}

.cm-editor .cm-panels-bottom {
  @apply mt-4 border-0;
}

.cm-editor .cm-vim-panel,
.cm-editor .cm-vim-panel span {
  @apply !font-mono;
}

.cm-editor .cm-tooltip.cm-tooltip-autocomplete {
  @apply max-w-sm rounded-md border-0 bg-bg-overlay p-1 shadow-lg ring-1 ring-border-secondary dark:ring-inset;
}

.cm-editor .cm-tooltip.cm-tooltip-autocomplete > ul {
  @apply font-mono text-[inherit];
}

.cm-editor .cm-tooltip.cm-completionInfo {
  @apply w-96 max-w-none whitespace-pre-wrap rounded-md border-0 bg-bg-overlay p-1 px-3 py-2 font-mono text-[inherit] shadow-lg ring-1 ring-border-secondary dark:ring-inset;
  word-break: break-word;
}

.cm-editor .cm-tooltip.cm-tooltip-autocomplete > ul > li {
  @apply flex rounded-sm px-2 py-1 coarse:px-3 coarse:py-2;
}

.cm-editor .cm-tooltip.cm-tooltip-autocomplete > ul > li[aria-selected] {
  @apply bg-bg-secondary text-text;
}

.cm-editor .cm-tooltip.cm-tooltip-autocomplete > ul > li .cm-completionDetail {
  @apply ml-2 not-italic text-text-secondary;
}

.cm-editor .cm-completionMatchedText {
  @apply no-underline;
}

.cm-editor .cm-placeholder {
  @apply text-text-tertiary;
}

.cm-editor .cm-lineNumbers {
  @apply pr-3;
}

.cm-editor .cm-lineNumbers .cm-gutterElement {
  @apply min-w-[1.5rem] p-0;
}

.cm-editor .cm-foldPlaceholder {
  @apply mx-0.5 rounded-xs border-none bg-bg-secondary px-1 text-text-secondary;
}

.cm-editor .cm-foldPlaceholder:hover {
  @apply bg-bg-tertiary;
}

.cm-editor .cm-indentedLine {
  margin-left: calc(1ch * var(--indent));
  text-indent: calc(-1ch * var(--indent));
}

.cm-editor .cm-wikilink {
  @apply -mx-1 rounded-xs bg-bg-secondary px-1;
}

.cm-editor .cm-wikilink:hover {
  @apply bg-bg-tertiary;
}

.cm-editor .cm-wikilink-enabled {
  @apply underline decoration-text-secondary decoration-dotted decoration-1 underline-offset-[3px];
}

.cm-editor .cm-wikilink-enabled:hover {
  @apply cursor-pointer decoration-solid;
}
