@font-face {
  font-family: "iA Writer Quattro";
  src: url("/fonts/iAWriterQuattroV.woff2") format("woff2-variations");
  font-weight: 400 700;
  font-style: normal;
}

@font-face {
  font-family: "iA Writer Quattro";
  src: url("/fonts/iAWriterQuattroV-Italic.woff2") format("woff2-variations");
  font-weight: 400 700;
  font-style: italic;
}

@font-face {
  font-family: "iA Writer Mono";
  src: url("/fonts/iAWriterMonoV.woff2") format("woff2-variations");
  font-weight: 400 700;
  font-style: normal;
}

@font-face {
  font-family: "iA Writer Mono";
  src: url("/fonts/iAWriterMonoV-Italic.woff2") format("woff2-variations");
  font-weight: 400 700;
  font-style: italic;
}
