.markdown {
  font-size: var(--font-size-base);
  line-height: 1.75;
}

.markdown *:first-child {
  margin-block-start: 0;
}

.markdown *:last-child {
  margin-block-end: 0;
}

.markdown :is(h1, h2, h3, h4, h5, h6, p, pre, ul, ol, table, blockquote) {
  margin-block: calc(var(--font-size-base) * 1.25);
}

.markdown li :is(h1, h2, h3, h4, h5, h6, p, pre, ul, ol, table, blockquote) {
  margin-block: calc(var(--font-size-base) * 0.75);
}

.markdown hr {
  margin-block: calc(var(--font-size-base) * 1.75);
}

.markdown strong {
  font-weight: var(--font-weight-bold);
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6,
.markdown th {
  font-weight: var(--font-weight-bold);
  line-height: 1.4;
}

.markdown h1 {
  font-size: var(--font-size-xl);
  letter-spacing: -0.01em;
}

.markdown h2 {
  font-size: var(--font-size-lg);
}

.markdown pre {
  overflow: auto;
  border-radius: var(--border-radius-lg);
  background-color: var(--color-bg-code-block);
  padding-inline: var(--font-size-base);
  padding-block: calc(var(--font-size-base) * 0.75);
  min-height: 48px;
}

.markdown code {
  font-family: var(--font-family-mono);
  border-radius: var(--border-radius-sm);
  background-color: var(--color-bg-secondary);
  padding-inline: calc(var(--font-size-base) * 0.25);
  font-size: 0.9em;
}

.markdown pre > code {
  border-radius: unset;
  background-color: transparent;
  padding: 0;
  font-style: unset;
}

.markdown pre > code::before,
.markdown pre > code::after {
  content: "";
}

.markdown hr {
  border-color: var(--color-border-secondary);
}

.markdown ul {
  list-style-type: disc;
}

.markdown ol {
  list-style-type: decimal;
}

.markdown ul,
.markdown ol {
  padding-inline-start: calc(var(--font-size-base) * 2);
}

.markdown ul ul,
.markdown ul ol,
.markdown ol ul,
.markdown ol ol {
  margin-block-start: calc(var(--font-size-base) * 0.75) !important;
  margin-block-end: calc(var(--font-size-base) * 0.75);
}

.markdown li {
  margin-block: calc(var(--font-size-base) * 0.75);
}

.markdown li.task-list-item {
  position: relative;
  list-style-type: none;
}

.markdown li [type="checkbox"],
.markdown li [role="checkbox"] {
  position: absolute;
  left: -0.75em;
  margin-block-start: 0.33em;
  transform: translateX(-100%);
}

@media (pointer: coarse) {
  .markdown li [type="checkbox"],
  .markdown li [role="checkbox"] {
    margin-block-start: 0.2em;
  }
}

.markdown ::marker {
  color: var(--color-text-secondary);
  font-size: var(--font-size-sm);
}

.markdown table {
  display: block;
  overflow: auto;
}

.markdown th,
.markdown td {
  border: 1px solid var(--color-border-table);
  padding-inline: calc(var(--font-size-base) * 0.75);
  padding-block: calc(var(--font-size-base) * 0.5);
}

.markdown blockquote {
  position: relative;
  padding-left: calc(var(--font-size-base) * 1.25);
}

.markdown blockquote::before {
  position: absolute;
  inset-block: 0;
  left: 0;
  width: 3px;
  border-radius: var(--border-radius-full);
  background-color: var(--color-border);
  content: "";
}

.markdown a {
  @apply link;
}

.markdown a[href^="http"] {
  @apply link-external;
}

.markdown img {
  border-radius: var(--border-radius-base);
  overflow: hidden;
}

.markdown .katex-html {
  display: none;
}
