.markdown {
  font-size: var(--font-size-base);
  line-height: 28px;
}

.markdown-large {
  --font-size-base: 15px;
  --font-size-sm: 13px;
}

@media (pointer: coarse) {
  .markdown-large {
    --font-size-base: 16px;
    --font-size-sm: 14px;
  }
}

.markdown *:first-child {
  margin-block-start: 0;
}

.markdown *:last-child {
  margin-block-end: 0;
}

.markdown :where(h1, h2, h3, h4, h5, h6, p, pre, ul, ol, table, blockquote, .pre-container) {
  margin-block: calc(var(--font-size-base) * 1.25);
}

.markdown .pre-container {
  min-width: 0;
}

.markdown li :where(h1, h2, h3, h4, h5, h6, p, pre, table, blockquote, .pre-container) {
  margin-block: calc(var(--font-size-base) * 0.5);
}

.markdown hr {
  margin-block: calc(var(--font-size-base) * 1.75);
}

.markdown strong {
  font-weight: var(--font-weight-bold);
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6,
.markdown th {
  font-weight: var(--font-weight-bold);
  line-height: 1.4;
}

.markdown h1 {
  font-size: var(--font-size-xl);
}

.markdown h2 {
  font-size: var(--font-size-lg);
}

.markdown pre {
  overflow: auto;
  border-radius: var(--border-radius-lg);
  background-color: var(--color-bg-code-block);
  padding-inline: var(--font-size-base);
  padding-block: calc(var(--font-size-base) * 0.75);
  min-height: 48px;
  @apply epaper:border epaper:border-border;
}

.markdown code {
  font-family: var(--font-family-mono);
  border-radius: var(--border-radius-sm);
  background-color: var(--color-bg-secondary);
  padding-inline: calc(var(--font-size-base) * 0.25);
  font-size: 0.9em;
}

.markdown pre > code {
  border-radius: unset;
  background-color: transparent;
  padding: 0;
  font-style: unset;
}

.markdown pre > code::before,
.markdown pre > code::after {
  content: "";
}

.markdown hr {
  border-color: var(--color-border-secondary);
}

.markdown ol {
  counter-reset: ol-item;
}

.markdown ol > li {
  counter-increment: ol-item;
}

.markdown .list-item-number::before {
  content: counter(ol-item) ".";
}

.markdown li.task-list-item {
  list-style-type: none;
}

.markdown table {
  display: block;
  overflow: auto;
}

.markdown th,
.markdown td {
  border: 1px solid var(--color-border-table);
  padding-inline: calc(var(--font-size-base) * 0.75);
  padding-block: calc(var(--font-size-base) * 0.5);
}

.markdown blockquote {
  position: relative;
  padding-left: calc(var(--font-size-base) * 1.25);
}

.markdown blockquote::before {
  position: absolute;
  inset-block: 0;
  left: 0;
  width: 3px;
  border-radius: var(--border-radius-sm);
  background-color: var(--color-border);
  content: "";
}

.markdown a {
  @apply link;
}

.markdown img {
  border-radius: var(--border-radius-sm);
  overflow: hidden;
}

.markdown .katex-html {
  display: none;
}

.markdown [id^="user-content-fn-"] {
  color: var(--color-text-secondary);
}
