/* Copied from @radix-ui/colors */

/* -------------------------------------------------------------------------- */
/* Sand                                                                       */
/* -------------------------------------------------------------------------- */

/* sand */

:root {
  --sand-1: #fdfdfc;
  --sand-2: #f9f9f8;
  --sand-3: #f1f0ef;
  --sand-4: #e9e8e6;
  --sand-5: #e2e1de;
  --sand-6: #dad9d6;
  --sand-7: #cfceca;
  --sand-8: #bcbbb5;
  --sand-9: #8d8d86;
  --sand-10: #82827c;
  --sand-11: #63635e;
  --sand-12: #21201c;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --sand-1: color(display-p3 0.992 0.992 0.989);
      --sand-2: color(display-p3 0.977 0.977 0.973);
      --sand-3: color(display-p3 0.943 0.942 0.936);
      --sand-4: color(display-p3 0.913 0.912 0.903);
      --sand-5: color(display-p3 0.885 0.883 0.873);
      --sand-6: color(display-p3 0.854 0.852 0.839);
      --sand-7: color(display-p3 0.813 0.81 0.794);
      --sand-8: color(display-p3 0.738 0.734 0.713);
      --sand-9: color(display-p3 0.553 0.553 0.528);
      --sand-10: color(display-p3 0.511 0.511 0.488);
      --sand-11: color(display-p3 0.388 0.388 0.37);
      --sand-12: color(display-p3 0.129 0.126 0.111);
    }
  }
}

/* sand-alpha */

:root {
  --sand-a1: #55550003;
  --sand-a2: #25250007;
  --sand-a3: #20100010;
  --sand-a4: #1f150019;
  --sand-a5: #1f180021;
  --sand-a6: #19130029;
  --sand-a7: #19140035;
  --sand-a8: #1915014a;
  --sand-a9: #0f0f0079;
  --sand-a10: #0c0c0083;
  --sand-a11: #080800a1;
  --sand-a12: #060500e3;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --sand-a1: color(display-p3 0.349 0.349 0.024 / 0.012);
      --sand-a2: color(display-p3 0.161 0.161 0.024 / 0.028);
      --sand-a3: color(display-p3 0.067 0.067 0.008 / 0.063);
      --sand-a4: color(display-p3 0.129 0.129 0.012 / 0.099);
      --sand-a5: color(display-p3 0.098 0.067 0.008 / 0.126);
      --sand-a6: color(display-p3 0.102 0.075 0.004 / 0.161);
      --sand-a7: color(display-p3 0.098 0.098 0.004 / 0.208);
      --sand-a8: color(display-p3 0.086 0.075 0.004 / 0.287);
      --sand-a9: color(display-p3 0.051 0.051 0.004 / 0.471);
      --sand-a10: color(display-p3 0.047 0.047 0 / 0.514);
      --sand-a11: color(display-p3 0.031 0.031 0 / 0.632);
      --sand-a12: color(display-p3 0.024 0.02 0 / 0.891);
    }
  }
}

/* sand-dark */

@media (prefers-color-scheme: dark) {
  :root {
    --sand-1: #111110;
    --sand-2: #191918;
    --sand-3: #222221;
    --sand-4: #2a2a28;
    --sand-5: #31312e;
    --sand-6: #3b3a37;
    --sand-7: #494844;
    --sand-8: #62605b;
    --sand-9: #6f6d66;
    --sand-10: #7c7b74;
    --sand-11: #b5b3ad;
    --sand-12: #eeeeec;
  }

  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      :root {
        --sand-1: color(display-p3 0.067 0.067 0.063);
        --sand-2: color(display-p3 0.098 0.098 0.094);
        --sand-3: color(display-p3 0.135 0.135 0.129);
        --sand-4: color(display-p3 0.164 0.163 0.156);
        --sand-5: color(display-p3 0.193 0.192 0.183);
        --sand-6: color(display-p3 0.23 0.229 0.217);
        --sand-7: color(display-p3 0.285 0.282 0.267);
        --sand-8: color(display-p3 0.384 0.378 0.357);
        --sand-9: color(display-p3 0.434 0.428 0.403);
        --sand-10: color(display-p3 0.487 0.481 0.456);
        --sand-11: color(display-p3 0.707 0.703 0.68);
        --sand-12: color(display-p3 0.933 0.933 0.926);
      }
    }
  }
}

/* sand-dark-alpha */

@media (prefers-color-scheme: dark) {
  :root {
    --sand-a1: #00000000;
    --sand-a2: #f4f4f309;
    --sand-a3: #f6f6f513;
    --sand-a4: #fefef31b;
    --sand-a5: #fbfbeb23;
    --sand-a6: #fffaed2d;
    --sand-a7: #fffbed3c;
    --sand-a8: #fff9eb57;
    --sand-a9: #fffae965;
    --sand-a10: #fffdee73;
    --sand-a11: #fffcf4b0;
    --sand-a12: #fffffded;
  }

  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      :root {
        --sand-a1: color(display-p3 0 0 0 / 0);
        --sand-a2: color(display-p3 0.992 0.992 0.988 / 0.034);
        --sand-a3: color(display-p3 0.996 0.996 0.992 / 0.072);
        --sand-a4: color(display-p3 0.992 0.992 0.953 / 0.106);
        --sand-a5: color(display-p3 1 1 0.965 / 0.135);
        --sand-a6: color(display-p3 1 0.976 0.929 / 0.177);
        --sand-a7: color(display-p3 1 0.984 0.929 / 0.236);
        --sand-a8: color(display-p3 1 0.976 0.925 / 0.341);
        --sand-a9: color(display-p3 1 0.98 0.925 / 0.395);
        --sand-a10: color(display-p3 1 0.992 0.933 / 0.45);
        --sand-a11: color(display-p3 1 0.996 0.961 / 0.685);
        --sand-a12: color(display-p3 1 1 0.992 / 0.929);
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/* Cyan                                                                       */
/* -------------------------------------------------------------------------- */

/* cyan */

:root {
  --cyan-1: #fafdfe;
  --cyan-2: #f2fafb;
  --cyan-3: #def7f9;
  --cyan-4: #caf1f6;
  --cyan-5: #b5e9f0;
  --cyan-6: #9ddde7;
  --cyan-7: #7dcedc;
  --cyan-8: #3db9cf;
  --cyan-9: #00a2c7;
  --cyan-10: #0797b9;
  --cyan-11: #107d98;
  --cyan-12: #0d3c48;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --cyan-1: color(display-p3 0.982 0.992 0.996);
      --cyan-2: color(display-p3 0.955 0.981 0.984);
      --cyan-3: color(display-p3 0.888 0.965 0.975);
      --cyan-4: color(display-p3 0.821 0.941 0.959);
      --cyan-5: color(display-p3 0.751 0.907 0.935);
      --cyan-6: color(display-p3 0.671 0.862 0.9);
      --cyan-7: color(display-p3 0.564 0.8 0.854);
      --cyan-8: color(display-p3 0.388 0.715 0.798);
      --cyan-9: color(display-p3 0.282 0.627 0.765);
      --cyan-10: color(display-p3 0.264 0.583 0.71);
      --cyan-11: color(display-p3 0.08 0.48 0.63);
      --cyan-12: color(display-p3 0.108 0.232 0.277);
    }
  }
}

/* cyan-alpha */

:root {
  --cyan-a1: #0099cc05;
  --cyan-a2: #009db10d;
  --cyan-a3: #00c2d121;
  --cyan-a4: #00bcd435;
  --cyan-a5: #01b4cc4a;
  --cyan-a6: #00a7c162;
  --cyan-a7: #009fbb82;
  --cyan-a8: #00a3c0c2;
  --cyan-a9: #00a2c7;
  --cyan-a10: #0094b7f8;
  --cyan-a11: #007491ef;
  --cyan-a12: #00323ef2;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --cyan-a1: color(display-p3 0.02 0.608 0.804 / 0.02);
      --cyan-a2: color(display-p3 0.02 0.557 0.647 / 0.044);
      --cyan-a3: color(display-p3 0.004 0.694 0.796 / 0.114);
      --cyan-a4: color(display-p3 0.004 0.678 0.784 / 0.181);
      --cyan-a5: color(display-p3 0.004 0.624 0.733 / 0.248);
      --cyan-a6: color(display-p3 0.004 0.584 0.706 / 0.33);
      --cyan-a7: color(display-p3 0.004 0.541 0.667 / 0.436);
      --cyan-a8: color(display-p3 0 0.533 0.667 / 0.612);
      --cyan-a9: color(display-p3 0 0.482 0.675 / 0.718);
      --cyan-a10: color(display-p3 0 0.435 0.608 / 0.738);
      --cyan-a11: color(display-p3 0.08 0.48 0.63);
      --cyan-a12: color(display-p3 0.108 0.232 0.277);
    }
  }
}

/* cyan-dark */

:root {
  --cyan-1: #0b161a;
  --cyan-2: #101b20;
  --cyan-3: #082c36;
  --cyan-4: #003848;
  --cyan-5: #004558;
  --cyan-6: #045468;
  --cyan-7: #12677e;
  --cyan-8: #11809c;
  --cyan-9: #00a2c7;
  --cyan-10: #23afd0;
  --cyan-11: #4ccce6;
  --cyan-12: #b6ecf7;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --cyan-1: color(display-p3 0.053 0.085 0.098);
      --cyan-2: color(display-p3 0.072 0.105 0.122);
      --cyan-3: color(display-p3 0.073 0.168 0.209);
      --cyan-4: color(display-p3 0.063 0.216 0.277);
      --cyan-5: color(display-p3 0.091 0.267 0.336);
      --cyan-6: color(display-p3 0.137 0.324 0.4);
      --cyan-7: color(display-p3 0.186 0.398 0.484);
      --cyan-8: color(display-p3 0.23 0.496 0.6);
      --cyan-9: color(display-p3 0.282 0.627 0.765);
      --cyan-10: color(display-p3 0.331 0.675 0.801);
      --cyan-11: color(display-p3 0.446 0.79 0.887);
      --cyan-12: color(display-p3 0.757 0.919 0.962);
    }
  }
}

/* cyan-dark-alpha */

:root {
  --cyan-a1: #0091f70a;
  --cyan-a2: #02a7f211;
  --cyan-a3: #00befd28;
  --cyan-a4: #00baff3b;
  --cyan-a5: #00befd4d;
  --cyan-a6: #00c7fd5e;
  --cyan-a7: #14cdff75;
  --cyan-a8: #11cfff95;
  --cyan-a9: #00cfffc3;
  --cyan-a10: #28d6ffcd;
  --cyan-a11: #52e1fee5;
  --cyan-a12: #bbf3fef7;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --cyan-a1: color(display-p3 0 0.647 0.992 / 0.034);
      --cyan-a2: color(display-p3 0.133 0.733 1 / 0.059);
      --cyan-a3: color(display-p3 0.122 0.741 0.996 / 0.152);
      --cyan-a4: color(display-p3 0.051 0.725 1 / 0.227);
      --cyan-a5: color(display-p3 0.149 0.757 1 / 0.29);
      --cyan-a6: color(display-p3 0.267 0.792 1 / 0.358);
      --cyan-a7: color(display-p3 0.333 0.808 1 / 0.446);
      --cyan-a8: color(display-p3 0.357 0.816 1 / 0.572);
      --cyan-a9: color(display-p3 0.357 0.82 1 / 0.748);
      --cyan-a10: color(display-p3 0.4 0.839 1 / 0.786);
      --cyan-a11: color(display-p3 0.446 0.79 0.887);
      --cyan-a12: color(display-p3 0.757 0.919 0.962);
    }
  }
}

/* -------------------------------------------------------------------------- */
/* Yellow                                                                     */
/* -------------------------------------------------------------------------- */

/* yellow */

:root {
  --yellow-1: #fdfdf9;
  --yellow-2: #fefce9;
  --yellow-3: #fffab8;
  --yellow-4: #fff394;
  --yellow-5: #ffe770;
  --yellow-6: #f3d768;
  --yellow-7: #e4c767;
  --yellow-8: #d5ae39;
  --yellow-9: #ffe629;
  --yellow-10: #ffdc00;
  --yellow-11: #9e6c00;
  --yellow-12: #473b1f;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --yellow-1: color(display-p3 0.992 0.992 0.978);
      --yellow-2: color(display-p3 0.995 0.99 0.922);
      --yellow-3: color(display-p3 0.997 0.982 0.749);
      --yellow-4: color(display-p3 0.992 0.953 0.627);
      --yellow-5: color(display-p3 0.984 0.91 0.51);
      --yellow-6: color(display-p3 0.934 0.847 0.474);
      --yellow-7: color(display-p3 0.876 0.785 0.46);
      --yellow-8: color(display-p3 0.811 0.689 0.313);
      --yellow-9: color(display-p3 1 0.92 0.22);
      --yellow-10: color(display-p3 0.977 0.868 0.291);
      --yellow-11: color(display-p3 0.6 0.44 0);
      --yellow-12: color(display-p3 0.271 0.233 0.137);
    }
  }
}

/* yellow-alpha */

:root {
  --yellow-a1: #aaaa0006;
  --yellow-a2: #f4dd0016;
  --yellow-a3: #ffee0047;
  --yellow-a4: #ffe3016b;
  --yellow-a5: #ffd5008f;
  --yellow-a6: #ebbc0097;
  --yellow-a7: #d2a10098;
  --yellow-a8: #c99700c6;
  --yellow-a9: #ffe100d6;
  --yellow-a10: #ffdc00;
  --yellow-a11: #9e6c00;
  --yellow-a12: #2e2000e0;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --yellow-a1: color(display-p3 0.675 0.675 0.024 / 0.024);
      --yellow-a2: color(display-p3 0.953 0.855 0.008 / 0.079);
      --yellow-a3: color(display-p3 0.988 0.925 0.004 / 0.251);
      --yellow-a4: color(display-p3 0.98 0.875 0.004 / 0.373);
      --yellow-a5: color(display-p3 0.969 0.816 0.004 / 0.491);
      --yellow-a6: color(display-p3 0.875 0.71 0 / 0.526);
      --yellow-a7: color(display-p3 0.769 0.604 0 / 0.542);
      --yellow-a8: color(display-p3 0.725 0.549 0 / 0.687);
      --yellow-a9: color(display-p3 1 0.898 0 / 0.781);
      --yellow-a10: color(display-p3 0.969 0.812 0 / 0.71);
      --yellow-a11: color(display-p3 0.6 0.44 0);
      --yellow-a12: color(display-p3 0.271 0.233 0.137);
    }
  }
}

/* yellow-dark */

@media (prefers-color-scheme: dark) {
  :root {
    --yellow-1: #14120b;
    --yellow-2: #1b180f;
    --yellow-3: #2d2305;
    --yellow-4: #362b00;
    --yellow-5: #433500;
    --yellow-6: #524202;
    --yellow-7: #665417;
    --yellow-8: #836a21;
    --yellow-9: #ffe629;
    --yellow-10: #ffff57;
    --yellow-11: #f5e147;
    --yellow-12: #f6eeb4;
  }

  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      :root {
        --yellow-1: color(display-p3 0.078 0.069 0.047);
        --yellow-2: color(display-p3 0.103 0.094 0.063);
        --yellow-3: color(display-p3 0.168 0.137 0.039);
        --yellow-4: color(display-p3 0.209 0.169 0);
        --yellow-5: color(display-p3 0.255 0.209 0);
        --yellow-6: color(display-p3 0.31 0.261 0.07);
        --yellow-7: color(display-p3 0.389 0.331 0.135);
        --yellow-8: color(display-p3 0.497 0.42 0.182);
        --yellow-9: color(display-p3 1 0.92 0.22);
        --yellow-10: color(display-p3 1 1 0.456);
        --yellow-11: color(display-p3 0.948 0.885 0.392);
        --yellow-12: color(display-p3 0.959 0.934 0.731);
      }
    }
  }
}

/* yellow-dark-alpha */

@media (prefers-color-scheme: dark) {
  :root {
    --yellow-a1: #d1510004;
    --yellow-a2: #f9b4000b;
    --yellow-a3: #ffaa001e;
    --yellow-a4: #fdb70028;
    --yellow-a5: #febb0036;
    --yellow-a6: #fec40046;
    --yellow-a7: #fdcb225c;
    --yellow-a8: #fdca327b;
    --yellow-a9: #ffe629;
    --yellow-a10: #ffff57;
    --yellow-a11: #fee949f5;
    --yellow-a12: #fef6baf6;
  }

  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      :root {
        --yellow-a1: color(display-p3 0.973 0.369 0 / 0.013);
        --yellow-a2: color(display-p3 0.996 0.792 0 / 0.038);
        --yellow-a3: color(display-p3 0.996 0.71 0 / 0.11);
        --yellow-a4: color(display-p3 0.996 0.741 0 / 0.152);
        --yellow-a5: color(display-p3 0.996 0.765 0 / 0.202);
        --yellow-a6: color(display-p3 0.996 0.816 0.082 / 0.261);
        --yellow-a7: color(display-p3 1 0.831 0.263 / 0.345);
        --yellow-a8: color(display-p3 1 0.831 0.314 / 0.463);
        --yellow-a9: color(display-p3 1 0.922 0.22);
        --yellow-a10: color(display-p3 1 1 0.455);
        --yellow-a11: color(display-p3 0.948 0.885 0.392);
        --yellow-a12: color(display-p3 0.959 0.934 0.731);
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/* Green                                                                      */
/* -------------------------------------------------------------------------- */

/* green */

:root {
  --green-1: #fbfefc;
  --green-2: #f4fbf6;
  --green-3: #e6f6eb;
  --green-4: #d6f1df;
  --green-5: #c4e8d1;
  --green-6: #adddc0;
  --green-7: #8eceaa;
  --green-8: #5bb98b;
  --green-9: #30a46c;
  --green-10: #2b9a66;
  --green-11: #218358;
  --green-12: #193b2d;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --green-1: color(display-p3 0.986 0.996 0.989);
      --green-2: color(display-p3 0.963 0.983 0.967);
      --green-3: color(display-p3 0.913 0.964 0.925);
      --green-4: color(display-p3 0.859 0.94 0.879);
      --green-5: color(display-p3 0.796 0.907 0.826);
      --green-6: color(display-p3 0.718 0.863 0.761);
      --green-7: color(display-p3 0.61 0.801 0.675);
      --green-8: color(display-p3 0.451 0.715 0.559);
      --green-9: color(display-p3 0.332 0.634 0.442);
      --green-10: color(display-p3 0.308 0.595 0.417);
      --green-11: color(display-p3 0.19 0.5 0.32);
      --green-12: color(display-p3 0.132 0.228 0.18);
    }
  }
}

/* green-alpha */

:root {
  --green-a1: #00c04004;
  --green-a2: #00a32f0b;
  --green-a3: #00a43319;
  --green-a4: #00a83829;
  --green-a5: #019c393b;
  --green-a6: #00963c52;
  --green-a7: #00914071;
  --green-a8: #00924ba4;
  --green-a9: #008f4acf;
  --green-a10: #008647d4;
  --green-a11: #00713fde;
  --green-a12: #002616e6;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --green-a1: color(display-p3 0.024 0.757 0.267 / 0.016);
      --green-a2: color(display-p3 0.024 0.565 0.129 / 0.036);
      --green-a3: color(display-p3 0.012 0.596 0.145 / 0.087);
      --green-a4: color(display-p3 0.008 0.588 0.145 / 0.142);
      --green-a5: color(display-p3 0.004 0.541 0.157 / 0.204);
      --green-a6: color(display-p3 0.004 0.518 0.157 / 0.283);
      --green-a7: color(display-p3 0.004 0.486 0.165 / 0.389);
      --green-a8: color(display-p3 0 0.478 0.2 / 0.55);
      --green-a9: color(display-p3 0 0.455 0.165 / 0.667);
      --green-a10: color(display-p3 0 0.416 0.153 / 0.691);
      --green-a11: color(display-p3 0.19 0.5 0.32);
      --green-a12: color(display-p3 0.132 0.228 0.18);
    }
  }
}

/* green-dark */

@media (prefers-color-scheme: dark) {
  :root {
    --green-1: #0e1512;
    --green-2: #121b17;
    --green-3: #132d21;
    --green-4: #113b29;
    --green-5: #174933;
    --green-6: #20573e;
    --green-7: #28684a;
    --green-8: #2f7c57;
    --green-9: #30a46c;
    --green-10: #33b074;
    --green-11: #3dd68c;
    --green-12: #b1f1cb;
  }

  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      :root {
        --green-1: color(display-p3 0.062 0.083 0.071);
        --green-2: color(display-p3 0.079 0.106 0.09);
        --green-3: color(display-p3 0.1 0.173 0.133);
        --green-4: color(display-p3 0.115 0.229 0.166);
        --green-5: color(display-p3 0.147 0.282 0.206);
        --green-6: color(display-p3 0.185 0.338 0.25);
        --green-7: color(display-p3 0.227 0.403 0.298);
        --green-8: color(display-p3 0.27 0.479 0.351);
        --green-9: color(display-p3 0.332 0.634 0.442);
        --green-10: color(display-p3 0.357 0.682 0.474);
        --green-11: color(display-p3 0.434 0.828 0.573);
        --green-12: color(display-p3 0.747 0.938 0.807);
      }
    }
  }
}

/* green-dark-alpha */

@media (prefers-color-scheme: dark) {
  :root {
    --green-a1: #00de4505;
    --green-a2: #29f99d0b;
    --green-a3: #22ff991e;
    --green-a4: #11ff992d;
    --green-a5: #2bffa23c;
    --green-a6: #44ffaa4b;
    --green-a7: #50fdac5e;
    --green-a8: #54ffad73;
    --green-a9: #44ffa49e;
    --green-a10: #43fea4ab;
    --green-a11: #46fea5d4;
    --green-a12: #bbffd7f0;
  }

  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      :root {
        --green-a1: color(display-p3 0 0.992 0.298 / 0.017);
        --green-a2: color(display-p3 0.341 0.98 0.616 / 0.043);
        --green-a3: color(display-p3 0.376 0.996 0.655 / 0.114);
        --green-a4: color(display-p3 0.341 0.996 0.635 / 0.173);
        --green-a5: color(display-p3 0.408 1 0.678 / 0.232);
        --green-a6: color(display-p3 0.475 1 0.706 / 0.29);
        --green-a7: color(display-p3 0.514 1 0.706 / 0.362);
        --green-a8: color(display-p3 0.529 1 0.718 / 0.442);
        --green-a9: color(display-p3 0.502 0.996 0.682 / 0.61);
        --green-a10: color(display-p3 0.506 1 0.682 / 0.66);
        --green-a11: color(display-p3 0.434 0.828 0.573);
        --green-a12: color(display-p3 0.747 0.938 0.807);
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/* Red                                                                        */
/* -------------------------------------------------------------------------- */

/* red */

:root {
  --red-1: #fffcfc;
  --red-2: #fff7f7;
  --red-3: #feebec;
  --red-4: #ffdbdc;
  --red-5: #ffcdce;
  --red-6: #fdbdbe;
  --red-7: #f4a9aa;
  --red-8: #eb8e90;
  --red-9: #e5484d;
  --red-10: #dc3e42;
  --red-11: #ce2c31;
  --red-12: #641723;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --red-1: color(display-p3 0.998 0.989 0.988);
      --red-2: color(display-p3 0.995 0.971 0.971);
      --red-3: color(display-p3 0.985 0.925 0.925);
      --red-4: color(display-p3 0.999 0.866 0.866);
      --red-5: color(display-p3 0.984 0.812 0.811);
      --red-6: color(display-p3 0.955 0.751 0.749);
      --red-7: color(display-p3 0.915 0.675 0.672);
      --red-8: color(display-p3 0.872 0.575 0.572);
      --red-9: color(display-p3 0.83 0.329 0.324);
      --red-10: color(display-p3 0.798 0.294 0.285);
      --red-11: color(display-p3 0.744 0.234 0.222);
      --red-12: color(display-p3 0.36 0.115 0.143);
    }
  }
}

/* red-alpha */

:root {
  --red-a1: #ff000003;
  --red-a2: #ff000008;
  --red-a3: #f3000d14;
  --red-a4: #ff000824;
  --red-a5: #ff000632;
  --red-a6: #f8000442;
  --red-a7: #df000356;
  --red-a8: #d2000571;
  --red-a9: #db0007b7;
  --red-a10: #d10005c1;
  --red-a11: #c40006d3;
  --red-a12: #55000de8;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --red-a1: color(display-p3 0.675 0.024 0.024 / 0.012);
      --red-a2: color(display-p3 0.863 0.024 0.024 / 0.028);
      --red-a3: color(display-p3 0.792 0.008 0.008 / 0.075);
      --red-a4: color(display-p3 1 0.008 0.008 / 0.134);
      --red-a5: color(display-p3 0.918 0.008 0.008 / 0.189);
      --red-a6: color(display-p3 0.831 0.02 0.004 / 0.251);
      --red-a7: color(display-p3 0.741 0.016 0.004 / 0.33);
      --red-a8: color(display-p3 0.698 0.012 0.004 / 0.428);
      --red-a9: color(display-p3 0.749 0.008 0 / 0.675);
      --red-a10: color(display-p3 0.714 0.012 0 / 0.714);
      --red-a11: color(display-p3 0.744 0.234 0.222);
      --red-a12: color(display-p3 0.36 0.115 0.143);
    }
  }
}

/* red-dark */

@media (prefers-color-scheme: dark) {
  :root {
    --red-1: #191111;
    --red-2: #201314;
    --red-3: #3b1219;
    --red-4: #500f1c;
    --red-5: #611623;
    --red-6: #72232d;
    --red-7: #8c333a;
    --red-8: #b54548;
    --red-9: #e5484d;
    --red-10: #ec5d5e;
    --red-11: #ff9592;
    --red-12: #ffd1d9;
  }

  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      :root {
        --red-1: color(display-p3 0.093 0.068 0.067);
        --red-2: color(display-p3 0.118 0.077 0.079);
        --red-3: color(display-p3 0.211 0.081 0.099);
        --red-4: color(display-p3 0.287 0.079 0.113);
        --red-5: color(display-p3 0.348 0.11 0.142);
        --red-6: color(display-p3 0.414 0.16 0.183);
        --red-7: color(display-p3 0.508 0.224 0.236);
        --red-8: color(display-p3 0.659 0.298 0.297);
        --red-9: color(display-p3 0.83 0.329 0.324);
        --red-10: color(display-p3 0.861 0.403 0.387);
        --red-11: color(display-p3 1 0.57 0.55);
        --red-12: color(display-p3 0.971 0.826 0.852);
      }
    }
  }
}

/* red-dark-alpha */

@media (prefers-color-scheme: dark) {
  :root {
    --red-a1: #f4121209;
    --red-a2: #f22f3e11;
    --red-a3: #ff173f2d;
    --red-a4: #fe0a3b44;
    --red-a5: #ff204756;
    --red-a6: #ff3e5668;
    --red-a7: #ff536184;
    --red-a8: #ff5d61b0;
    --red-a9: #fe4e54e4;
    --red-a10: #ff6465eb;
    --red-a11: #ff9592;
    --red-a12: #ffd1d9;
  }

  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      :root {
        --red-a1: color(display-p3 0.984 0.071 0.071 / 0.03);
        --red-a2: color(display-p3 0.996 0.282 0.282 / 0.055);
        --red-a3: color(display-p3 1 0.169 0.271 / 0.156);
        --red-a4: color(display-p3 1 0.118 0.267 / 0.236);
        --red-a5: color(display-p3 1 0.212 0.314 / 0.303);
        --red-a6: color(display-p3 1 0.318 0.38 / 0.374);
        --red-a7: color(display-p3 1 0.4 0.424 / 0.475);
        --red-a8: color(display-p3 1 0.431 0.431 / 0.635);
        --red-a9: color(display-p3 1 0.388 0.384 / 0.82);
        --red-a10: color(display-p3 1 0.463 0.447 / 0.853);
        --red-a11: color(display-p3 1 0.57 0.55);
        --red-a12: color(display-p3 0.971 0.826 0.852);
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/* Purple                                                                     */
/* -------------------------------------------------------------------------- */

/* purple */

:root {
  --purple-1: #fefcfe;
  --purple-2: #fbf7fe;
  --purple-3: #f7edfe;
  --purple-4: #f2e2fc;
  --purple-5: #ead5f9;
  --purple-6: #e0c4f4;
  --purple-7: #d1afec;
  --purple-8: #be93e4;
  --purple-9: #8e4ec6;
  --purple-10: #8347b9;
  --purple-11: #8145b5;
  --purple-12: #402060;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --purple-1: color(display-p3 0.995 0.988 0.996);
      --purple-2: color(display-p3 0.983 0.971 0.993);
      --purple-3: color(display-p3 0.963 0.931 0.989);
      --purple-4: color(display-p3 0.937 0.888 0.981);
      --purple-5: color(display-p3 0.904 0.837 0.966);
      --purple-6: color(display-p3 0.86 0.774 0.942);
      --purple-7: color(display-p3 0.799 0.69 0.91);
      --purple-8: color(display-p3 0.719 0.583 0.874);
      --purple-9: color(display-p3 0.523 0.318 0.751);
      --purple-10: color(display-p3 0.483 0.289 0.7);
      --purple-11: color(display-p3 0.473 0.281 0.687);
      --purple-12: color(display-p3 0.234 0.132 0.363);
    }
  }
}

/* purple-dark */

@media (prefers-color-scheme: dark) {
  :root {
    --purple-1: #18111b;
    --purple-2: #1e1523;
    --purple-3: #301c3b;
    --purple-4: #3d224e;
    --purple-5: #48295c;
    --purple-6: #54346b;
    --purple-7: #664282;
    --purple-8: #8457aa;
    --purple-9: #8e4ec6;
    --purple-10: #9a5cd0;
    --purple-11: #d19dff;
    --purple-12: #ecd9fa;
  }

  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      :root {
        --purple-1: color(display-p3 0.09 0.068 0.103);
        --purple-2: color(display-p3 0.113 0.082 0.134);
        --purple-3: color(display-p3 0.175 0.112 0.224);
        --purple-4: color(display-p3 0.224 0.137 0.297);
        --purple-5: color(display-p3 0.264 0.167 0.349);
        --purple-6: color(display-p3 0.311 0.208 0.406);
        --purple-7: color(display-p3 0.381 0.266 0.496);
        --purple-8: color(display-p3 0.49 0.349 0.649);
        --purple-9: color(display-p3 0.523 0.318 0.751);
        --purple-10: color(display-p3 0.57 0.373 0.791);
        --purple-11: color(display-p3 0.8 0.62 1);
        --purple-12: color(display-p3 0.913 0.854 0.971);
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/* Orange                                                                     */
/* -------------------------------------------------------------------------- */

/* orange */

:root {
  --orange-1: #fefcfb;
  --orange-2: #fff7ed;
  --orange-3: #ffefd6;
  --orange-4: #ffdfb5;
  --orange-5: #ffd19a;
  --orange-6: #ffc182;
  --orange-7: #f5ae73;
  --orange-8: #ec9455;
  --orange-9: #f76b15;
  --orange-10: #ef5f00;
  --orange-11: #cc4e00;
  --orange-12: #582d1d;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --orange-1: color(display-p3 0.995 0.988 0.985);
      --orange-2: color(display-p3 0.994 0.968 0.934);
      --orange-3: color(display-p3 0.989 0.938 0.85);
      --orange-4: color(display-p3 1 0.874 0.687);
      --orange-5: color(display-p3 1 0.821 0.583);
      --orange-6: color(display-p3 0.975 0.767 0.545);
      --orange-7: color(display-p3 0.919 0.693 0.486);
      --orange-8: color(display-p3 0.877 0.597 0.379);
      --orange-9: color(display-p3 0.9 0.45 0.2);
      --orange-10: color(display-p3 0.87 0.409 0.164);
      --orange-11: color(display-p3 0.76 0.34 0);
      --orange-12: color(display-p3 0.323 0.185 0.127);
    }
  }
}

/* orange-dark */

@media (prefers-color-scheme: dark) {
  :root {
    --orange-1: #17120e;
    --orange-2: #1e160f;
    --orange-3: #331e0b;
    --orange-4: #462100;
    --orange-5: #562800;
    --orange-6: #66350c;
    --orange-7: #7e451d;
    --orange-8: #a35829;
    --orange-9: #f76b15;
    --orange-10: #ff801f;
    --orange-11: #ffa057;
    --orange-12: #ffe0c2;
  }

  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      :root {
        --orange-1: color(display-p3 0.088 0.07 0.057);
        --orange-2: color(display-p3 0.113 0.089 0.061);
        --orange-3: color(display-p3 0.189 0.12 0.056);
        --orange-4: color(display-p3 0.262 0.132 0);
        --orange-5: color(display-p3 0.315 0.168 0.016);
        --orange-6: color(display-p3 0.376 0.219 0.088);
        --orange-7: color(display-p3 0.465 0.283 0.147);
        --orange-8: color(display-p3 0.601 0.359 0.201);
        --orange-9: color(display-p3 0.9 0.45 0.2);
        --orange-10: color(display-p3 0.98 0.51 0.23);
        --orange-11: color(display-p3 1 0.63 0.38);
        --orange-12: color(display-p3 0.98 0.883 0.775);
      }
    }
  }
}
