@import "./radix-colors.css";

:root {
  color-scheme: light dark;

  /* Neutral color scale */
  --neutral-1: var(--sand-1);
  --neutral-2: var(--sand-2);
  --neutral-3: var(--sand-3);
  --neutral-4: var(--sand-4);
  --neutral-5: var(--sand-5);
  --neutral-6: var(--sand-6);
  --neutral-7: var(--sand-7);
  --neutral-8: var(--sand-8);
  --neutral-9: var(--sand-9);
  --neutral-10: var(--sand-10);
  --neutral-11: var(--sand-11);
  --neutral-12: var(--sand-12);
  --neutral-a1: var(--sand-a1);
  --neutral-a2: var(--sand-a2);
  --neutral-a3: var(--sand-a3);
  --neutral-a4: var(--sand-a4);
  --neutral-a5: var(--sand-a5);
  --neutral-a6: var(--sand-a6);
  --neutral-a7: var(--sand-a7);
  --neutral-a8: var(--sand-a8);
  --neutral-a9: var(--sand-a9);
  --neutral-a10: var(--sand-a10);
  --neutral-a11: var(--sand-a11);
  --neutral-a12: var(--sand-a12);
  --neutral-contrast: #fff;

  /* Text colors */
  --color-text: var(--neutral-12);
  --color-text-secondary: var(--neutral-11);
  --color-text-tertiary: var(--neutral-10);
  --color-text-highlight: var(--yellow-a12);
  --color-text-danger: var(--red-11);

  /* Background colors */
  --color-bg: var(--neutral-1);
  --color-bg-inset: var(--neutral-2);
  --color-bg-card: white;
  --color-bg-overlay: white;
  --color-bg-backdrop: hsla(0 0% 98% / 0.65); /* var(--color-bg-inset) at 65% opacity */
  --color-bg-secondary: var(--neutral-a3);
  --color-bg-tertiary: var(--neutral-a4);
  --color-bg-code-block: var(--neutral-3);
  --color-bg-highlight: var(--yellow-a3);
  --color-bg-selection: var(--cyan-a4);

  /* Border colors */
  --color-border: var(--neutral-a8);
  --color-border-secondary: var(--neutral-a5);
  --color-border-table: var(--neutral-7);
  --color-border-focus: var(--cyan-9);

  /* Syntax colors */
  --color-syntax-yellow: var(--yellow-11);
  --color-syntax-red: var(--red-11);
  --color-syntax-purple: var(--purple-11);
  --color-syntax-green: var(--green-11);

  /* Font sizes */
  --font-size-sm: 12px;
  --font-size-base: 14px;
  --font-size-lg: 16px;
  --font-size-xl: 18px;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Background colors */
    --color-bg: var(--neutral-1);
    --color-bg-inset: black;
    --color-bg-card: var(--neutral-2);
    --color-bg-overlay: var(--neutral-3);
    --color-bg-backdrop: hsla(60 0% 0% / 0.65); /* var(--color-bg-inset) at 65% opacity */

    /* Border colors */
    --color-border-focus: var(--cyan-11);

    /* Syntax colors */
    --color-syntax-yellow: var(--yellow-12);
    --color-syntax-red: var(--red-12);
    --color-syntax-purple: var(--purple-12);
    --color-syntax-green: var(--green-12);
  }
}

/* Adjust font sizes for touch devices */
@media (pointer: coarse) {
  :root {
    /* Font sizes */
    --font-size-sm: 13px;
    --font-size-base: 15px;
    --font-size-lg: 18px;
    --font-size-xl: 20px;
  }
}
