@import "./radix-colors.css";

:root {
  color-scheme: light dark;

  /* Neutral color scale */
  --neutral-1: var(--sand-1);
  --neutral-2: var(--sand-2);
  --neutral-3: var(--sand-3);
  --neutral-4: var(--sand-4);
  --neutral-5: var(--sand-5);
  --neutral-6: var(--sand-6);
  --neutral-7: var(--sand-7);
  --neutral-8: var(--sand-8);
  --neutral-9: var(--sand-9);
  --neutral-10: var(--sand-10);
  --neutral-11: var(--sand-11);
  --neutral-12: var(--sand-12);
  --neutral-contrast: #fff;

  /* Text colors */
  --color-text: var(--sand-12);
  --color-text-secondary: var(--sand-11);
  --color-text-tertiary: var(--sand-10);
  --color-text-highlight: var(--yellow-a12);
  --color-text-danger: var(--red-11);

  /* Background colors */
  --color-bg: white;
  --color-bg-inset: var(--sand-2);
  --color-bg-overlay: white;
  --color-bg-backdrop: hsla(0 0% 98% / 0.65); /* var(--color-bg-inset) at 65% opacity */
  --color-bg-secondary: var(--sand-a3);
  --color-bg-tertiary: var(--sand-a4);
  --color-bg-code-block: var(--sand-2);
  --color-bg-highlight: var(--yellow-a3);
  --color-bg-selection: var(--cyan-a4);

  /* Border colors */
  --color-border: var(--sand-a8);
  --color-border-secondary: var(--sand-a4);
  --color-border-table: var(--sand-7);
  --color-border-focus: var(--cyan-9);

  /* Syntax colors */
  --color-syntax-yellow: var(--yellow-11);
  --color-syntax-red: var(--red-11);
  --color-syntax-purple: var(--purple-11);
  --color-syntax-green: var(--green-11);

  /* Font sizes */
  --font-size-sm: 0.75rem; /* 12px */
  --font-size-base: 0.875rem; /* 14px */
  --font-size-lg: 1rem; /* 16px */
  --font-size-xl: 1.125rem; /* 18px */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Background colors */
    --color-bg: var(--sand-2);
    --color-bg-inset: black;
    --color-bg-overlay: var(--sand-3);
    --color-bg-backdrop: hsla(60 0% 0% / 0.65); /* var(--color-bg-inset) at 65% opacity */
    --color-bg-secondary: var(--sand-a4);
    --color-bg-tertiary: var(--sand-a5);
    --color-bg-code-block: var(--sand-4);
    --color-bg-highlight: var(--yellow-a4);
    --color-bg-selection: var(--cyan-a5);

    /* Border colors */
    --color-border-secondary: var(--sand-a5);
    --color-border-focus: var(--cyan-11);

    /* Syntax colors */
    --color-syntax-yellow: var(--yellow-12);
    --color-syntax-red: var(--red-12);
    --color-syntax-purple: var(--purple-12);
    --color-syntax-green: var(--green-12);
  }
}

/* Adjust font sizes for touch devices */
@media (pointer: coarse) {
  :root {
    /* Font sizes */
    --font-size-sm: 0.8125rem; /* 13px */
    --font-size-base: 0.9375rem; /* 15px */
    --font-size-lg: 1.125rem; /* 18px */
    --font-size-xl: 1.25rem; /* 20px */
  }
}
