@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */

@font-face {
  font-family: "iA Writer Quattro";
  src: url("/fonts/iAWriterQuattroV.woff2") format("woff2-variations");
  font-weight: 400 700;
  font-style: normal;
}

@font-face {
  font-family: "iA Writer Quattro";
  src: url("/fonts/iAWriterQuattroV-Italic.woff2") format("woff2-variations");
  font-weight: 400 700;
  font-style: italic;
}

@font-face {
  font-family: "iA Writer Mono";
  src: url("/fonts/iAWriterMonoV.woff2") format("woff2-variations");
  font-weight: 400 700;
  font-style: normal;
}

@font-face {
  font-family: "iA Writer Mono";
  src: url("/fonts/iAWriterMonoV-Italic.woff2") format("woff2-variations");
  font-weight: 400 700;
  font-style: italic;
}

/* Variables */

:root {
  color-scheme: light dark;

  --h: 220deg;
  --s: 10%;
  --l-text: 10%;
  --l-text-muted: 45%;
  --l-bg: 100%;
  --l-bg-inset: 97.5%;
  --a-border: 0.25;

  --color-text: hsl(var(--h) var(--s) var(--l-text));
  --color-text-muted: hsl(var(--h) var(--s) var(--l-text-muted));
  --color-bg: hsl(var(--h) var(--s) var(--l-bg));
  --color-bg-inset: hsl(var(--h) var(--s) var(--l-bg-inset));
  --color-border: hsla(var(--h) var(--s) var(--l-text) / var(--a-border));
}

@media (prefers-color-scheme: dark) {
  :root {
    --l-text: 90%;
    --l-text-muted: 60%;
    --l-bg: 10%;
    --l-bg-inset: 5%;
  }
}

/* Global styles */

body {
  @apply font-body text-sm bg-bg-inset text-text;
}

/* Codemirror styles */

.cm-editor .cm-content {
  width: 100%;
  padding: 0;
  white-space: pre-wrap;
  word-break: break-word;
}

.cm-editor .cm-line {
  padding: 0;
}

.cm-editor .cm-scroller {
  line-height: 1.5;
  font-family: unset;
}

/* Markdown styles */

.markdown a {
  @apply underline underline-offset-1;
}
