@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */

@font-face {
  font-family: "iA Writer Quattro";
  src: url("/fonts/iAWriterQuattroV.woff2") format("woff2-variations");
  font-weight: 400 700;
  font-style: normal;
}

@font-face {
  font-family: "iA Writer Quattro";
  src: url("/fonts/iAWriterQuattroV-Italic.woff2") format("woff2-variations");
  font-weight: 400 700;
  font-style: italic;
}

@font-face {
  font-family: "iA Writer Mono";
  src: url("/fonts/iAWriterMonoV.woff2") format("woff2-variations");
  font-weight: 400 700;
  font-style: normal;
}

@font-face {
  font-family: "iA Writer Mono";
  src: url("/fonts/iAWriterMonoV-Italic.woff2") format("woff2-variations");
  font-weight: 400 700;
  font-style: italic;
}

/* Variables */

:root {
  color-scheme: light dark;

  /* Hue */
  --h: 30deg;
  --h-highlight: 50deg;

  /* Saturation */
  --s: 5%;

  /* Lightness */
  --l-text: 10%;
  --l-text-secondary: 45%;
  --l-text-tertiary: 60%;
  --l-bg: 100%;
  --l-bg-inset: 97.5%;
  --l-bg-overlay: 100%;
  --l-border: 75%;
  --l-node-disabled: 80%;
  --l-edge: 85%;

  /* Opacity */
  --a-bg-backdrop: 0.65;
  --a-bg-secondary: 0.05;
  --a-bg-tertiary: 0.1;
  --a-border: 0.25;
  --a-border-secondary: 0.1;

  /* Colors */
  --color-text: hsl(var(--h) var(--s) var(--l-text));
  --color-text-secondary: hsl(var(--h) var(--s) var(--l-text-secondary));
  --color-text-tertiary: hsl(var(--h) var(--s) var(--l-text-tertiary));
  --color-text-highlight: hsl(var(--h-highlight) 100% var(--l-text));
  --color-text-pending: hsl(30, 94%, 15%);
  --color-text-danger: hsl(350, 86%, 27%);
  --color-bg: hsl(var(--h) var(--s) var(--l-bg));
  --color-bg-inset: hsl(var(--h) var(--s) var(--l-bg-inset));
  --color-bg-overlay: hsl(var(--h) var(--s) var(--l-bg-overlay));
  --color-bg-backdrop: hsla(var(--h) var(--s) var(--l-bg) / var(--a-bg-backdrop));
  --color-bg-inset-backdrop: hsla(var(--h) var(--s) var(--l-bg-inset) / var(--a-bg-backdrop));
  --color-bg-overlay-backdrop: hsla(var(--h) var(--s) var(--l-bg-overlay) / var(--a-bg-backdrop));
  --color-bg-secondary: hsla(var(--h) var(--s) var(--l-text) / var(--a-bg-secondary));
  --color-bg-tertiary: hsla(var(--h) var(--s) var(--l-text) / var(--a-bg-tertiary));
  --color-bg-highlight: hsl(var(--h-highlight) 80% 90%);
  --color-bg-pending: hsl(30, 100%, 85%);
  --color-border: hsl(var(--h) var(--s) var(--l-border));
  --color-border-secondary: hsla(var(--h) var(--s) var(--l-text) / var(--a-border-secondary));
  --color-border-focus: hsl(200, 100%, 40%);
  --color-node: var(--color-text-secondary);
  --color-edge: hsl(var(--h) var(--s) var(--l-edge));

  /* Priority colors */
  --hsl-priority-1: 0deg 60% 50%;
  --hsl-priority-2: 30deg 90% 50%;
  --hsl-priority-3: 200deg 100% 40%;
  --a-bg-priority: 0.1;
  --a-bg-priority-hover: 0.2;

  /* Syntax colors */
  /* Based on https://rosepinetheme.com/palette */
  --color-syntax-yellow: hsl(30, 80%, 34%);
  --color-syntax-orange: hsl(6, 50%, 48%);
  --color-syntax-purple: hsl(268, 21%, 38%);
  --color-syntax-green: hsl(170, 50%, 32%);

  /* Font sizes */
  --font-size-sm: 0.75rem; /* 12px */
  --font-size-base: 0.875rem; /* 14px */
  --font-size-lg: 1rem; /* 16px */
  --font-size-xl: 1.125rem; /* 18px */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Hue */
    --h: 220deg;

    /* Lightness */
    --l-text: 90%;
    --l-text-secondary: 60%;
    --l-text-tertiary: 50%;
    --l-bg: 10%;
    --l-bg-inset: 5%;
    --l-bg-overlay: 15%;
    --l-border: 30%;
    --l-node-disabled: 20%;
    --l-edge: 20%;

    /* Opacity */
    --a-bg-secondary: 0.075;

    /* Colors */
    --color-text-highlight: hsl(var(--h-highlight) 40% var(--l-text));
    --color-text-pending: hsl(30, 100%, 90%);
    --color-text-danger: hsl(3, 100%, 83%);
    --color-bg-highlight: hsl(var(--h-highlight) 30% 18%);
    --color-bg-pending: hsl(30, 90%, 15%);
    --color-border-focus: hsl(200, 100%, 70%);

    /* Priority colors */
    --hsl-priority-1: 0deg 100% 70%;
    --hsl-priority-2: 30deg 100% 60%;
    --hsl-priority-3: 200deg 100% 70%;

    /* Syntax colors */
    --color-syntax-yellow: hsl(30, 76%, 72%);
    --color-syntax-orange: hsl(6, 70%, 78%);
    --color-syntax-purple: hsl(268, 57%, 78%);
    --color-syntax-green: hsl(170, 50%, 73%);
  }
}

/* Adjust font sizes for touch devices */
@media (pointer: coarse) {
  :root {
    /* Font sizes */
    --font-size-sm: 0.8125rem; /* 13px */
    --font-size-base: 0.9375rem; /* 15px */
    --font-size-lg: 1.125rem; /* 18px */
    --font-size-xl: 1.25rem; /* 20px */
  }
}

/* Global styles */

body {
  @apply bg-bg-inset font-body text-base text-text;
  font-variant-numeric: slashed-zero;
}

/* .docs-story is the container for storybook stories on docs pages */
.docs-story {
  @apply bg-bg-inset;
}

button {
  font-variant-numeric: slashed-zero;
}

/* Hide the browser's default cancel button on search inputs */
input[type="search"]::-webkit-search-cancel-button {
  appearance: none;
}

body:has([data-resizing="true"]) {
  cursor: col-resize;
}

body:has([data-resizing="true"]) * {
  pointer-events: none;
}

/* Utility classes */

/* Focus styles for buttons, inputs, etc. */
.focus-ring {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-border-focus;
}

.link {
  @apply rounded-xs underline decoration-text-secondary decoration-1 underline-offset-2 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-border-focus;
}

.link-external::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 16px;
  background-color: var(--color-text-secondary);
  mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDggMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0yIDJoNXY1SDZWMy43MDdsLTQuNSA0LjVMLjc5MyA3LjVsNC41LTQuNUgyVjJaIiBmaWxsPSIjMDAwIi8+PC9zdmc+");
  vertical-align: middle;
  margin-left: 2px;
}

/* Codemirror styles */

.cm-editor {
  @apply w-full cursor-text font-mono;
}

.cm-editor.cm-editor.cm-focused {
  @apply outline-none;
}

.cm-editor .cm-content {
  width: 100%;
  padding: 0;
  white-space: pre-wrap;
  word-break: break-word;
  caret-color: currentColor;
}

.cm-editor .cm-line {
  padding: 0;
}

.cm-editor .cm-scroller {
  @apply leading-5;
  font-family: unset;
}

.cm-editor .cm-tooltip.cm-tooltip-autocomplete {
  @apply max-w-sm rounded-md border-0 bg-bg-overlay p-1 shadow-lg ring-1 ring-border-secondary dark:ring-inset;
}

.cm-editor .cm-tooltip.cm-tooltip-autocomplete > ul {
  @apply font-mono text-[inherit];
}

.cm-editor .cm-tooltip.cm-completionInfo {
  @apply w-96 max-w-none whitespace-pre-wrap rounded-md border-0 bg-bg-overlay p-1 px-3 py-2 font-mono text-[inherit] shadow-lg ring-1 ring-border-secondary dark:ring-inset;
  word-break: break-word;
}

.cm-editor .cm-tooltip.cm-tooltip-autocomplete > ul > li {
  @apply flex rounded-sm px-2 py-1 coarse:px-3 coarse:py-2;
}

.cm-editor .cm-tooltip.cm-tooltip-autocomplete > ul > li[aria-selected] {
  @apply bg-bg-secondary text-text;
}

.cm-editor .cm-tooltip.cm-tooltip-autocomplete > ul > li .cm-completionDetail {
  @apply ml-2 not-italic text-text-secondary;
}

.cm-editor .cm-completionMatchedText {
  @apply no-underline;
}

.cm-editor .cm-placeholder {
  @apply text-text-tertiary;
}

/* Markdown styles */

.markdown {
  @apply leading-6;
}

.markdown *:first-child {
  @apply mt-0;
}

.markdown *:last-child {
  @apply mb-0;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6,
.markdown p,
.markdown pre,
.markdown ul,
.markdown ol,
.markdown table,
.markdown blockquote {
  @apply my-4;
}

.markdown hr {
  @apply my-4;
}

.markdown strong {
  @apply font-bold;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6,
.markdown th {
  @apply font-semibold;
}

.markdown h1 {
  @apply text-xl coarse:!leading-7;
}

.markdown h2 {
  @apply text-lg;
}

.markdown pre {
  @apply overflow-auto rounded-sm bg-bg-secondary p-3;
}

.markdown code {
  @apply rounded-xs bg-bg-secondary px-1;
}

.markdown pre > code {
  @apply rounded-none bg-transparent p-0;
  font-style: unset;
}

.markdown pre > code::before,
.markdown pre > code::after {
  content: "";
}

.markdown hr {
  @apply border-border-secondary;
}

.markdown ul {
  @apply list-disc;
}

.markdown ol {
  @apply list-decimal;
}

.markdown ul,
.markdown ol {
  @apply pl-9;
}

.markdown li:has(p) {
  @apply my-3;
}

.markdown ul ul,
.markdown ul ol,
.markdown ol ul,
.markdown ol ol {
  @apply my-2;
}

.markdown li {
  @apply my-1 coarse:my-2;
}

.markdown li:has([type="checkbox"]),
.markdown li:has([role="checkbox"]) {
  @apply relative list-none;
}

.markdown li [type="checkbox"],
.markdown li [role="checkbox"] {
  @apply absolute -left-2 mt-1 -translate-x-full coarse:mt-0.5;
}

.markdown ::marker {
  @apply text-text-secondary;
}

.markdown table {
  @apply block overflow-auto;
}

.markdown th,
.markdown td {
  @apply border border-border px-2 py-1;
}

.markdown blockquote {
  @apply border-l-[3px] border-border pl-3 italic;
}

.markdown a {
  @apply link;
}

.markdown a[href^="http"] {
  @apply link-external;
}

/* Syntax highlighting */

.prism .comment {
  color: var(--color-text-secondary);
}

.prism .punctuation {
  color: var(--color-text-secondary);
}

.prism .keyword {
  color: var(--color-syntax-green);
}

.prism .function {
  color: var(--color-syntax-yellow);
}

.prism .property {
  color: var(--color-syntax-green);
}

.prism .selector {
  color: var(--color-syntax-green);
}

.prism .tag {
  color: var(--color-syntax-purple);
}

.prism .attr-name {
  color: var(--color-syntax-green);
}

.prism .attr-value {
  color: var(--color-syntax-yellow);
}

.prism .key {
  color: var(--color-syntax-green);
}

.prism .boolean {
  color: var(--color-syntax-orange);
}

.prism .string {
  color: var(--color-syntax-orange);
}

.prism .operator {
  color: var(--color-text-secondary);
}

/* Cmdk styles */

[cmdk-overlay] {
  @apply fixed inset-0 z-20 bg-bg-inset-backdrop animate-in fade-in;
}

[cmdk-dialog] {
  @apply fixed left-1/2 top-2 z-20 w-[calc(100vw_-_1rem)] max-w-xl -translate-x-1/2 sm:top-[10vh];
}

[cmdk-input] {
  @apply w-full bg-transparent px-5 py-4 text-lg leading-none outline-none;
}

[cmdk-input]::placeholder {
  @apply text-text-tertiary;
}

[cmdk-list] {
  @apply max-h-[min(400px,50vh)] overflow-y-auto overflow-x-hidden;
  scroll-padding-block-start: 8px;
  scroll-padding-block-end: 8px;
}

[cmdk-list]:has([cmdk-list-sizer]:not(:empty)) {
  @apply border-t border-border-secondary p-2;
}

[cmdk-group-heading] {
  @apply px-3 py-2 leading-4 text-text-secondary;
}

[cmdk-group]:not(:first-child) {
  @apply mt-2;
}

[cmdk-item] {
  @apply cursor-default rounded-sm px-3 py-3 leading-4;
}

[cmdk-item][aria-selected] {
  @apply bg-bg-secondary;
}
