@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */

@font-face {
  font-family: "iA Writer Quattro";
  src: url("/fonts/iAWriterQuattroV.woff2") format("woff2-variations");
  font-weight: 400 700;
  font-style: normal;
}

@font-face {
  font-family: "iA Writer Quattro";
  src: url("/fonts/iAWriterQuattroV-Italic.woff2") format("woff2-variations");
  font-weight: 400 700;
  font-style: italic;
}

@font-face {
  font-family: "iA Writer Mono";
  src: url("/fonts/iAWriterMonoV.woff2") format("woff2-variations");
  font-weight: 400 700;
  font-style: normal;
}

@font-face {
  font-family: "iA Writer Mono";
  src: url("/fonts/iAWriterMonoV-Italic.woff2") format("woff2-variations");
  font-weight: 400 700;
  font-style: italic;
}

/* Global styles */

body {
  @apply font-body text-sm;
}

/* Codemirror styles */

.cm-editor .cm-content {
  width: 100%;
  padding: 0;
  white-space: pre-wrap;
  word-break: break-word;
}

.cm-editor .cm-line {
  padding: 0;
}

.cm-editor .cm-scroller {
  line-height: 1.5;
  font-family: unset;
}

/* Markdown styles */

.markdown a {
  @apply underline underline-offset-1;
}
